body{
    background-color:#000000;
    color:white;
    margin: 2.5cm 2cm;
    padding:5px 85px;
    border:3px solid white;
    height:1400px;
    font-family: "Courier New", sans-serif;

}
.footer{
    text-align: center;
    position: relative;
    top:250px;
}

.bhp{
    font-size:x-large;
    position: relative;
    top:230px;
    left:530px;
}
.bh{
    color: white;
}
.p{
    position: relative;
    left:550px;
}
.clear{
    clear:both;
}
.text{
    position: relative;
    left:25px;
}
.picture{
    position: relative;
    left:450px;
    top:20px;
}