body{
    background-color:#000000;
    color:white;
    margin: 2.5cm 2cm;
    padding:5px 85px;
    border:3px solid white;
    font-family: "Courier New", sans-serif;

}

.bhair{
    color: white;
    float: left;
}
.ghair{
    float: left; 
    margin-left: 25px;
}
.clear{
    clear:both;
}
.lbhair{
    float: right;
   
}
.lghair{
    float: right;
    margin-right: 25px;
}

.footer{
    text-align: center;
    
}
.prices{
    color: white;
}
.wt{
    color: white;
}
.am{
    color: white;
}
.gallery{
    color: white;
}
.hp{
    color: white;
}

.ptable1{
    text-align: center;
    position: relative;
    right:100px;
    font-size: 26px;
}
.bhp1{
    font-size:x-large;
   text-align: center;
}


.ptable2{
    text-align: center;
    font-size: 26px;

}
.bh{
    color: white;
}
.footer3{
    text-align: center;
    position: relative;
    top:250px;
}

.p{
    position: relative;
    left:550px;
}

.text{
    position: relative;
    left:25px;
}
.picture{
    text-align: center;
}
.picture1{
    float: left;
}
.picture2{
   float: left;
}
.picture3{
    float: right;
}
.picture4{
    float: right;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
.container{
    margin-left: auto;
    margin-right: auto;
}